<a href="{{ post.url | relative_url }}" class="catalogue-item">
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">📌 置顶</span>
    {% endif %}
    <!-- 去掉列表中的发布时间
    <time datetime="{{ post.date }}" class="catalogue-time">Post on {{ post.date | date: "%Y年%m月%d日" }}</time>
    -->
    <h2 class="catalogue-title">{{ post.title }}</h2>
    <div class="catalogue-line"></div>

    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 5 }}
      {% endif %}
    </p>

  </div>
</a>
