<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/" >
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Archives</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
	    <li><a href="https://podcasts.apple.com/us/podcast/bedtime-story/id1717719475?itsct=podcast_box_badge&amp;itscg=30200&amp;ls=1" style="display: inline-block; overflow: hidden; border-radius: 2px; width: 50px; height: 16.6px;"><img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/badge/en-us?size=250x83&amp;releaseDate=1701690420" alt="Listen on Apple Podcasts" style="border-radius: 2px; width: 50px; height: 16.6px;"></a>
      </li>
    </ul>
  </div>
</nav>
